.App {
  text-align: center;
}

.ticket-list {
  margin: 20px;
}

.ticket-date-group {
  margin-bottom: 20px;
}

.ticket-date-group h3 {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 0;
}

.ticket-list ul {
  list-style-type: none;
  padding: 0;
}

.ticket-list li {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.ticket-list li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-list p {
  margin: 5px 0;
}

.ticket-list button {
  margin-left: 10px;
}
